.admin {
  position: fixed;
  left: 0;
  top: 0;
  padding: 18px 30px;
  background: #016bff;
  height: 100vh;
  width: 16%;

  svg {
    margin-left: 1rem;
  }
  
  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 10px 10px;
  }

  &__item {
    font-weight: 500;
    font-size: 20px;
    line-height: 17px;
    color: #ffffff;
    list-style: none;
    padding-top: 2rem;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;

      img {
        margin-right: 10px;
      }
      span {
        color: white;
      }
    }
  }

  & p {
    position: absolute;
    bottom: 0;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #ffffff;
  }
}
